<div class="auth-background login">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <img
            style="width: 300px;"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
            alt="not-found"
          />
          <h1 class="title text-center">Inventory App</h1>
        </div>
        <div class="col-lg-12">
          <div class="card-group mb-0">
            <div class="card auth-box">
              <div class="card-block">
                <div class="four-oh-four">
                  <h1>404 Error</h1>
                </div>
                <div class="warning" style="text-align: justify;">
                  <h2>
                    "Todos esos momentos se perderán en el tiempo, como lágrimas
                    en la lluvia.."
                  </h2>
                  <p>
                    Es posible que la página que está buscando se haya
                    eliminado, haya cambiado su nombre o no esté disponible
                    temporalmente.
                  </p>
                  <a
                    href="javascript:history.back()"
                    style="text-align: center;"
                    >Por favor regrese a la página anterior</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center text-uppercase">
          <footer>
            <small>Inventory APP &copy; 2020.</small>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
